/* propiedades espciales y rehutilizables */

:root {
  --yellow: #f5c32c;
  --orange: #f5c32c;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --pruple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgb(251, 161, 40, 0.42);
}

.button:hover {
  background: white;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}

/* Diseño Home_1 */

.intro {
  display: flex;
  height: 77vh;
  margin: 6rem 3rem 0rem 3rem;
  font-family: verdana;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(2) {
  font-weight: 100;
  font-size: 16px;
  color: var(--gray);
}

.i-button{
    width: 8rem;
    height: 5rem;
} 

.i-icon{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;

}

.i-icon>*{
    transform: scale(0.5);
}
.i-icon>*:hover{
  cursor: pointer;
}

.i-right{
  flex: 1;
  position: relative;
}
.i-right>*{
  position: absolute;
  z-index: 1;
}

.i-right>:nth-child(1){
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}

.i-right>:nth-child(2){
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}
.i-right>:nth-child(3){
  transform: scale(1.4);
  left: 28%;
}

.i-right>:nth-child(4){
  transform: scale(70%);
  top: -15%;
  left: 0%;
  border-radius: 50%;
  padding: 0;
}   

.i-img1{
  justify-content: space-around;
  display: flex;
  background-color: white;
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  align-items: center;
  padding: 0px 38px 0px 10px;
  height: 4.5rem;
}

.i-img1>img{
  transform: scale(0.4);
}

.i-img1>span{
  font-family: sans-serif;
  font-size:16px;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}